<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Autokit 3c Automotive</title>
</head>
<body>
    <nav class="navigation">
    <div class="avatar">
    <img src="/images/logo.png" class="avatar__img" alt="Seu Logo">
      
    </div>
    <h1>3C AUTOMOTIVE</h1>
    <ul>
      <li><a href="/kits">Produtos</a></li>
      <li><a href="/">Cadastro</a></li>
      <li><a href="/montadoras">Montadoras</a></li>
      
    </ul>
  </nav>
    {{{body}}}

    <footer class="footer">
    <p>&copy; 2023 Radames-Marino. Todos os direitos reservados.</p>
  </footer>
</body>
</html>